:root {
  --main-text-color: rgba(0,0,0,0.87);
  --secondary-text-color: rgba(0,0,0,0.65);  
  --education-color: #fb8072;
  --experience-color: #80b1d3;
  --project-color: #fdb462;
  --publication-color: #b3de69;
  --small-font-size: 13px;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: var(--main-text-color);
}
svg {
  width: 100%;
}

/* Generic classes
*/
.hidden {
  display: none;
}
.justified {
  text-align: justify;
}

/* Specific classes
*/
.header {
  padding-top: 20px;
}
.header .bio, .header .legend {
  width: 50%;
  margin: auto;
  padding: 12px 12px 35px 12px;
}
.header .bio {
  text-align: justify;
}
.header .legend {
  display: flex;
  justify-content: flex-end;
  font-size: var(--small-font-size);
}
.header .legend .entry {
  display: flex;
  margin-left: 10px;
}
.header .legend .entry .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 3px;
}

.node {
  font-size: var(--small-font-size);
}
.node .label:hover {
  fill: rgba(0,0,0,0.7);
}
.node rect.background {
  fill: #f0f0f0;
}
.node rect.foreground, .node circle.foreground {
  fill: #606060;
}

.grid line {
  stroke: rgba(0,0,0,0.22);
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}

/* Info
*/
.info {
  width: 100%;
  background: #fafafa;
  padding-top: 20px; 
}
.inner_info {
  width: 50%;
  margin: auto;
}
.info .item .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: -15px;
}
.info .item {
  position: relative;
  margin-bottom: 30px;
}
.info .item .subtitle {
  color: var(--secondary-text-color);
  font-size: var(--small-font-size);
}
.info .item .description {
  font-size: var(--small-font-size);
  margin: 8px 0px 8px 0px;
}
.info .item .imgs {
  text-align: center;
}
.info .item .imgs img {
  max-width: 310px;
  border: 1px solid #DDD;
  margin: 3px;
}
.info .item .links a {
  color: var(--main-text-color);
  font-size: var(--small-font-size);
  margin-right: 3px;
}
.info .item .links a:hover {
  text-decoration: none;
}

/* types
*/
.Education {
  background: var(--education-color);
  fill: var(--education-color);
}
.Experience {
  background: var(--experience-color);
  fill: var(--experience-color);
}
.Project {
  background: var(--project-color);
  fill: var(--project-color);
}
.Publication {
  background: var(--publication-color);
  fill: var(--publication-color);
}
