body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: rgba(0,0,0,0.87);
}

.main {
  display: flex;
  flex-direction: column;
}
.middle {
  width: 50%;
}
.left, .right {
  width: 25%;
}
.hidden {
  display: none;
}

/* Header
*/
.header {
  display: flex;
  margin-top: 60px;
}
.header .bio {
  width: 50%;
  margin: auto;
  padding: 12px 12px 35px 12px;
  text-align: justify;
}

/* Central
*/
.central {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.node {
  width: 100%;
  display: flex;
  padding: 3px 0px;
  font-size: 13px;
}
.node .label {
  text-align: right;
  cursor: pointer;
}
.node .label div {
  padding-right: 15px;
}
.node .info {
  margin-top: 10px;
}

.node svg {
  width: 100%;
  background: #dfdfdf;
}
.node svg rect, .node svg circle {
  fill: #606060;
}

.node .period {
  font-size: 12px;
  margin-left: 10px;
}
.node .period span {
  color: rgba(0,0,0,0.54);
}

/* Legend
*/
.legend {
  font-size: 12px;
  fill: rgba(0,0,0,0.54);
  margin-top: 20px;
  margin-left: 25%;
}

/* types
*/
.Education {
  color: #fb8072;
  fill: #fb8072;
}
.Experience {
  color: #80b1d3;
  fill: #80b1d3;
}
.Project {
  color: #fdb462; 
  fill: #fdb462; 
}
.Publication {
  color: #b3de69;
  fill: #b3de69;
}
